@import '~@fullcalendar/core/main.css';
@import '~@fullcalendar/daygrid/main.css';

.Calendar {
    margin-right: 25vh;
}

.calendar-size {
    margin-left: 10vh;
    margin-right: 10vh;
    margin-top: 5vh;
    margin-bottom: 5vh;
}