.App {
    font-family: sans-serif;
    text-align: center;
  }
  

 /* @media (max-width: 767px) {
    .sidebar {
        display: none;
    }
    .menu toggle {
        display: initial; --display the toggle, previously hidden
    }
} */